<div class="container">
  <h1>{{title}}</h1>

  <form>
    <!-- operandoA -->
    <div class="form-group">
      <label>Operando A</label>
      <input 
        type="number" class="form-control" placeholder="Escribe operando A" name="operandoA"
        [(ngModel)]="operandoA" />
    </div>

    <!-- operandoB -->
    <div class="form-group">
      <label>Operando B</label>
      <input 
        type="number" class="form-control" placeholder="Escribe operando B" name="operandoB"
        [(ngModel)]="operandoB"
         />
    </div>

    <!-- boton -->
    <button 
      type="submit" class="btn btn-primary" 
      (click)="sumar()">Sumar</button>
  </form>

  <!-- resultado -->
  <div class="mt-4">Resultado: {{resultado}}</div>

</div>

